<%- include('./components/header') %>
<%- include('./components/navbar') %>
<% if (!currentUser) { %>
    <p id="call-for-action"><a href=/login>Login</a> or <a href=/signup>Signup</a> to post a message</p>
<% } else { %>
    <p id="call-for-action"><a href=/message>Add a new message</a></p>
<% } %>   
    <div class="message-container">
        <% for(let i = 0; i < list_messages.length; i++) {%>
            <div class="message">
                <h2><%= list_messages[i].title %></h2>
                <p><%= list_messages[i].text %></p>
                <div class="message-info">
                    <p><%= list_messages[i].date_posted %></p>
                    <p><%= list_messages[i].user.first_name %> <%= list_messages[i].user.last_name %></p>
                </div>
            </div>
        <%}%> 
    </div>
<%- include('./components/footer') %>